services:
  # CDK Mint service with LDK Node backend

  mintd-ldk-node:
    # Use the ldk-node tagged image from the same repository
    # image: cashubtc/mintd:ldk-node-amd64
    build:
      context: .
      dockerfile: Dockerfile.ldk-node
    container_name: mint-ldk-node
    ports:
      - "8085:8085"
      - "8091:8091" # LDK admin dashboard
    environment:
      - CDK_MINTD_LDK_NODE_CHAIN_SOURCE_TYPE=esplora
      # - CDK_MINTD_LDK_NODE_CHAIN_SOURCE_TYPE=electrum
      - CDK_MINTD_LDK_NODE_WEBSERVER_HOST=0.0.0.0
      - CDK_MINTD_URL=https://example.com
      - CDK_MINTD_LN_BACKEND=ldk-node
      - CDK_MINTD_LISTEN_HOST=0.0.0.0
      - CDK_MINTD_LISTEN_PORT=8085
      - CDK_MINTD_MNEMONIC=artefact shine wash pigeon cake crouch wall coyote kick screen paddle train
      - CDK_MINTD_DATABASE=sqlite
      - CDK_MINTD_CACHE_BACKEND=memory
      - CDK_MINTD_PROMETHEUS_ENABLED=true
      - CDK_MINTD_PROMETHEUS_ADDRESS=0.0.0.0
      - CDK_MINTD_PROMETHEUS_PORT=9000
      - CDK_MINTD_LDK_NODE_BITCOIN_NETWORK=mainnet
      - CDK_MINTD_LDK_NODE_LISTENING_ADDRESSES=0.0.0.0:9735
      # - CDK_MINTD_LDK_NODE_ELECTRUM_URL=http://umbrel.local:50001
      - CDK_MINTD_LDK_NODE_ESPLORA_URL=https://blockstream.info/testnet/api
      # LDK admin dashboard config
      - CDK_MINTD_LDK_NODE_WEBSERVER_HOST=0.0.0.0
      # - CDK_MINTD_LDK_NODE_WEBSERVER_PORT=
    volumes:
      # Persist LDK node data
      - ldk_node_data:/usr/src/app/ldk_node_data
    command: ["cdk-mintd"]
    networks:
      - cdk

volumes:
  ldk_node_data:
    driver: local

networks:
  cdk:
    driver: bridge
